.profile-page {
    padding-top: 30px;
    padding-bottom: 200px;
}

.profile-page-header {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.profile-title {
    font-weight: 700;
}

.profile-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.profile-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.sidebar,
.sidebar-header {
    width: 100%;
}

.sidebar {
    border-right: 1px solid gainsboro;
}

.sidebar-header {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;;
}

.sidebar-image {
    width: 50px;
    border-radius: 50%;
}

.sidebar-name {
    font-weight: 700;
}

.sidebar-body {
    padding: 20px 0;
}

.sidebar-item {
    display: block;
    padding: 10px 0;
    color: gray;
    /* text-align: right; */
    padding-right: 15px;
}

.sidebar-item > i {
    color: inherit
}

.profile-page label {
    font-weight: 700;
    margin-bottom: 10px;
}

.profile-page .form-control {
    padding: 10px 20px;
}

.profile-image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    /* min-height: 500px; */
}

.address-item {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.address-title {
    font-weight: 700;
}

.address-content i {
    color: var(--primary-color);
}

.profile-page .nav-tabs {
    display: flex;
    margin-bottom: 30px;
}

.profile-page .nav-tabs .nav-item {
    flex-grow: 1;
    text-align: center;
}

.profile-page .nav-tabs .nav-link {
    font-weight: bold;
    color: #ccc;
    border: none;
}

.profile-page .nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 4px solid var(--primary-color);
    color: #222;
}

.profile-page .modal {
    padding-right: 0px !important;
}

body {
    padding-right: 0 !important;
}

@media only screen and (min-width: 768px) {
    .sidebar {
        height: 100%;
    }

    .sidebar-item i {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .sidebar-image {
        width: 25px;
    }

    .sidebar-name {
        font-size: 12px;
    }

    .sidebar-item {
        font-size: 12px;
    }

    .profile-page .nav-tabs .nav-link {
        font-size: 12px;
        padding: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(19, 19, 19);
        z-index: 10000;
    }

    .sidebar-header {
        display: none;
    }

    .sidebar-body {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .sidebar-item {
        /* color: #fff; */
        padding: 5px;
        text-align: center;
        font-size: 10px;
    }

    .sidebar-item.sidebar-item--active {
        color: #fff;
        padding: 5px;
        border-right: none;
    }

    .sidebar-item i {
        display: block;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-page .nav-tabs .nav-link {
        font-size: 8px;
        padding: 5px;
    }
}
