@media screen and (max-width: 375px){
	.unit-price{
		display: block;
		font-size:10px;
	}

	.product-card-price{
		font-size: 10px;
	}

	.produc-card-name{
		font-size:10px;
	}

}

@media only screen and (max-height: 460px) {
	.checkout__place-order {
		position: relative !important;
		bottom: 0px !important;
		z-index: 1 !important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 321px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* col-sm media query*/
@media only screen and (min-width: 576px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.search-page .product-container {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.mobile-filter-toggle {
		display: none;
	}

	.search-filter {
		min-height: 640px;
	}
}

@media only screen and (min-width: 768px) {
	.product__container {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		padding-right: 0.6vw !important;
		padding-left: 0.6vw !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.search__button i {
		font-size: 20px;
	}

	.detail-card {
		padding-left: 20px;
		padding-right: 20px;
	}

	.bottom-nav {
		display: none;
	}

	.checkout__footer.checkout__footer--close {
		transform: translateY(60%);
	}

	.product__container {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.footer__header {
		margin-bottom: 24px;
	}

	.search-page .product-container {
		flex: 0 0 20%;
		max-width: 20%;
	}

	/* .product__container {
		flex: 0 0 25%;
		max-width: 25%;
		padding-right: 0.6vw !important;
		padding-left: 0.6vw !important;
	} */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1360px;
	}
}

@media only screen and (min-width: 1360px) {
	.product__container {
		flex: 0 0 25%;
		max-width: 20%;
		padding-right: 0.6vw !important;
		padding-left: 0.6vw !important;
	}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
	footer {
		padding-bottom: 1em;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 992px) and (min-height: 700px) {
	body {
		font-size: 12px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
	.single-product-summary .store {
		font-size: 9.5px !important;
	}

	.single-product-text {
		font-size: 20px;
	}

	.portal-table__totalprice {
		font-weight: bold;
		font-size: 20px;
	}

	.sidenav {
		display: none;
	}

	.mobile__dropdown--display .branch__dropdown__mobile,
	.mobile__dropdown--display .branch__dropdown__mobile--overlay {
		display: block;
	}

	.branch__dropdown__mobile {
		position: fixed;
		top: 5em;
		left: 1em;
		right: 1em;
		/* bottom: 0; */
		z-index: 10000000;
		display: block;
		display: none;
	}
	/*
	.branch__dropdown__mobile-container {
    } */

	.branch__dropdown__mobile--overlay {
		display: none;
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}

	.sidenav__mobile {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: var(--sidemenu-wd);
		background-color: #fff;
		z-index: 101000;
		box-shadow: var(--box-shadow);
		display: none;
	}

	.sidenav__mobile__header {
		position: relative;
	}

	.sidenav__mobile__close-icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: #fff;
		font-size: 1.5em;
	}

	.sidenav__mobile--overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1009;
		display: none;
	}

	.header__item__mobile.sidenav__mobile--display .sidenav__mobile,
	.header__item__mobile.sidenav__mobile--display .sidenav__mobile--overlay {
		display: block;
	}
	.sidenav__mobile__header {
		background-color: var(--primary-color);
	}

	.sidenav__mobile__header .dropdown__header {
		display: flex;
		flex-direction: row;
	}

	.sidenav__mobile__header .dropdown__name {
		border: none;
		font-size: 1.5em;
		color: #fff;
	}

	.sidenav__mobile__content {
		display: flex;
		flex-direction: column;
	}

	.sidenav__mobile__item {
		padding: 1.5em 2em;
	}

	.sidenav__mobile__item:hover {
		background-color: #eee;
	}

	.header__mobile-title {
		color: var(--black);
		font-weight: 700;
	}

	.portal-table__titles {
		display: none;
	}

	.portal-table {
		width: 100%;
	}

	.portal-table__column {
		/* margin-bottom: 0.5em; */
		padding-left: 10px;
		padding-right: 10px;
	}

	.inventory-item-page .portal-table__item {
		padding-left: 0;
		padding-right: 0;
	}

	.inventory-item-page .portal-table__column {
		padding-left: 15px;
		padding-right: 15px;
	}

	.portal-table__column:last-child {
		margin-bottom: 0;
	}

	.portal-table__item {
		padding: 1em;
	}
	/*
	.quantity__minus {
		left: 5px;
	}

	.quantity__plus {
		right: 5px;
	} */

	/* ============================== column order ========================== */

	.portal-table__id {
		order: 0;
	}
	.portal-table__product {
		order: 1;
	}
	.portal-table__price {
		order: 2;
		color: #191919;
		font-weight: 700;
	}
	.portal-table__unit {
		order: 3;
	}

	.portal-table__unit .ui-selectmenu-button {
		order: 3;
	}

	.portal-table__unit .ui-selectmenu-button .ui-selectmenu-text {
		order: 3;
	}

	.portal-table__category {
		order: 3;
		margin-bottom: 1em;
	}
	.portal-table__quantity {
		order: 3;
		margin-bottom: 1em;
	}
	.portal-table__button {
		order: 3;
	}

	.portal-table__delete {
		order: 10;
	}

	/* checkout page */
	.checkout-page {
		padding-top: 3em;
		margin-bottom: 40px;
		overflow-y: auto;
	}

	.checkout-page .portal-table__item {
		border-bottom: 1px solid gainsboro;
		border-radius: 0;
	}

	.checkout-page .portal-table__price {
		margin-bottom: 1em;
	}

	.checkout-page .portal-table__unit {
		order: 4;
	}

	.checkout-page .portal-table__category {
		order: 5;
		margin-bottom: 1em;
	}
	.checkout-page .portal-table__quantity {
		order: 3;
		margin-bottom: 0;
	}

	.portal-table__srno {
		color: var(--black);
		font-weight: 700;
	}

	.portal-table__branch select {
		border: 1px solid var(--gray);
		padding: 0.5em;
		border-radius: 30px;
		/* background-color: transparent; */
	}

	.order-page .portal-table__srno {
		order: 1;
	}
	.order-page .portal-table__drno {
		order: 2;
	}
	.order-page .portal-table__branch {
		order: 4;
	}
	.order-page .portal-table__date {
		order: 0;
	}
	.order-page .portal-table__total {
		order: 1;
		color: var(--black);
		font-weight: 700;
	}
	.order-page .portal-table__status {
		order: 3;
	}

	.order-page .portal-table__button {
		order: 4;
	}

	.inventory-page .portal-table__product {
		margin-bottom: 1em;
	}

	.inventory-page .portal-table__unit,
	.inventory-page .portal-table__category,
	.inventory-page .portal-table__quantity {
		color: var(--black);
	}

	/* ================================== column order ======================= */

	.portal-table__quantity input,
	.ui-selectmenu-button {
		height: 40px !important;
	}

	.portal-table__button > .btn {
		width: 100%;
	}

	/* .checkout-page {
		padding-bottom: 8em;
	} */

	.checkout__footer-container {
		padding: 0;
		left: 0;
		right: 0;
		bottom: 60px;
	}

	.checkout__footer {
		padding-bottom: 1em;
	}

	.checkout__footer-container .container-fluid,
	.checkout__footer-container .container-fluid > .col-12 {
		padding: 0;
	}

	.checkout__place-order {
		/* position: fixed; */
		background-color: #fff;
		/* bottom: 60px;
		left: 0;
		right: 0; */
		padding: 1em;
		z-index: 1005;
		display: flex;
		align-items: flex-end;
		border-top: 1px solid var(--gray);
		border-bottom: 1px solid var(--gray);
	}

	.checkout__place-order__checkOrder {
		max-height: 8vh;
		position: fixed;
		background-color: #fff;
		bottom: 0px;
		left: 0;
		right: 0;
		padding: 0em 1em 1em 1em;
		z-index: 1005;
		display: flex;
		align-items: center;
		border-top: 1px solid var(--gray);
		border-bottom: 1px solid var(--gray);
	}

	.checkout__total {
		font-size: 16px;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	/* .cart__button.total__item {
		font-size: 14px;
	} */

	/* .cart-page__button {
		padding-top: 1em;
		padding-bottom: 1em;
	} */

	.checkout__button {
		display: inline;
	}

	.checkout__total > .total__item {
		font-size: 16px;
		margin-bottom: 0;
		align-self: center;
	}

	.checkout__footer.checkout__footer--close .checkout__left-content,
	.checkout__footer.checkout__footer--close .checkout__dates {
		display: none;
	}

	.checkout__dates {
		margin-top: 1.5em;
	}

	.checkout__footer .footer__header {
		font-size: 1.3em;
	}

	.receiver__title {
		font-size: 1em;
	}

	.checkout__footer.checkout__footer--close .footer__header {
		/* margin-bottom: 0 !important; */
	}

	.checkout__order .portal-table__item {
		background-color: #fff;
	}

	.checkout__order .portal-table__totalprice {
		color: #ff4444;
	}

	.checkout-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
		box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.31);
		margin-bottom: 0;
		padding: 0;
	}

	.checkout-button {
		border-radius: 0;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	body {
		font-size: 13px;
	}

	.search-filter {
		position: fixed;
		top: 0;
		right: 0;
		/* bottom: 0; */
		height: 100vh;
		width: 275px;
		background-color: #fff;
		z-index: 10000;
		padding-top: 20px;
		transform: translateY(100%);
		visibility: hidden;
	}

	.search-filter-container {
		height: 100%;
		overflow: auto;
		padding-bottom: 60px;
	}
	/*
	.search-filter {
		position: relative;
	} */

	.filter-button-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.search-filter.search-filter--show {
		transform: translateX(0);
		visibility: visible;
	}

	.header-logo {
		height: 45px;
		width: auto !important;
	}

	.header__bottom {
		position: fixed;
		top: 124px;
		bottom: 0;
		right: 0;
		width: 100%;
		z-index: 10000;
		background-color: #fff;
		box-shadow: var(--box-shadow);
		padding-top: 20px;
		transform: translateY(100%);
		transition: 0.1s;
		visibility: hidden;
	}

	.sidemenu--close {
		position: absolute;
		top: 30px;
		right: 30px;
	}

	.sidemenu--close i {
		color: #fff;
		font-size: 20px;
	}

	html.header__bottom--show .header__bottom {
		transform: translateY(0);
		visibility: visible;
	}

	html.header__bottom--show {
		overflow: hidden;
	}

	.header__category__item {
		display: block;
		/* text-align: right; */
		font-weight: 700;
		font-size: 12px;
		padding: 10px;
		color: var(--black);
	}

	.header__category__item > span {
		/* background-color: #eee; */
		padding: 5px 7px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-weight: inherit;
		color: #5e5e5e;
		white-space: nowrap;
	}

	.header__category__item i {
		color: #ff4444;
	}

	/* .cart__menu i {
		font-size: 15px;
	} */

	.cart__notif__number {
		right: -7px;
	}

	.company {
		text-align: center;
	}

	.system-name {
		justify-content: center;
	}

	.shop-container {
		padding-left: 0;
		padding-right: 0;
	}

	.payment-done {
		padding-top: 2em;
	}

	.payment-done__image {
		width: 100%;
	}

	.portal-tracker {
		padding: 1em;
	}

	.product-container:nth-child(odd) {
		padding-right: 7.5px;
	}

	.product-container:nth-child(even) {
		padding-left: 7.5px;
	}

	.single-product-text {
		font-size: 20px;
	}

	.summary-content {
		font-size: 12px !important;
	}

	.single-product-buttons .btn {
		font-size: 12px;
	}

	.single-product-quantity input {
		font-size: 14px;
	}

	.carousel-indicators {
		margin-bottom: 0;
	}

	.summary-title {
		font-size: 12px;
	}

	.search-page-item {
		font-size: 10px;
	}

	.mobile-search-filter > i {
		color: #ff4444;
	}

	.mobile-search-filer-label {
		font-size: 8px;
	}

	.search-filter-button {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
	}

	.search-filter-button button {
		border-radius: 0 !important;
	}

	.footer-title {
		font-size: 16px;
	}
}

/* col-sm media query*/
@media only screen and (max-width: 575px) {
	main {
		padding: 11em 0 3em 0;
	}

	.header__upper {
		padding-bottom: 10px;
	}

	.item__title {
		font-size: 1em;
	}
	.item__content {
		font-size: 1.5em;
	}

	.inventory-item-page .portal-table__titles > div {
		font-size: 0.8em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
