.cp-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 50px;
  text-align: center;
}
.cp-toast--medium .cp-toast-dialog {
  max-width: 600px;
}
.cp-toast-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.cp-toast-dialog {
  padding: 1rem;
  max-width: 450px;
  width: 100%;
  margin: 5vh auto 0;
  transform: scale(0.7);
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 767px) {
  .cp-toast-dialog {
    margin: 0 auto;
  }
}
.cp-toast-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
}
.cp-toast-header {
  margin-bottom: 30px;
  text-align: center;
}

.cp-toast-body {
  text-align: center;
  margin-bottom: 1rem;
}

.cp-toast.cp-toast--show {
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.cp-toast.cp-toast--show .cp-toast-dialog {
  transform: scale(1);
}
.cp-toast.cp-toast--show .cp-toast-content {
  opacity: 1;
}

body.cp-toast-body--hidden {
  overflow: hidden;
}

.cp-toast-button-primary {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
}

.cp-toast-button-primary:hover {
  opacity: 0.7;
  color: #fff;
}

.cp-toast-body-title {
  font-weight: 700;
  font-size: 18px;
}

.cp-toast-icon > svg{
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
}