/* ======================================================================
CSS Variables 
====================================================================== */

:root {
	--black: #222;
	--lightblack: #4a4a4a;
	--red: #cc0000;
	/* --main-color: #11b719; */
	--main-color: #a6ca38;
	--header-height: 60px;
	--box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
		0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
/* ======================================================================
    Login Page 
    ====================================================================== */

input.input-material ~ label.active {
	font-size: 0.8em;
	top: -17px;
	color: #2b90d9;
}
* {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	color: #222;
}

html,
body,
.login-page {
	height: 100%;
	/* padding-right:100px; */
}

body.login-body {
	/* background-image: url("../img/bg/blue.jpg") !important; */
	background-size: cover !important;
	background-position: center !;
	background-repeat: no-repeat;
}

div#indication_env {
	border: 1px solid #dc3545;
	width: 100%;
	position: absolute;
	background-color: #dc3545;
	color: white;
	padding: 5px;
	padding-left: 15px;
	font-size: 15px;
}

.logo_login {
	max-width: 100%;
	max-height: 100px;
}

.login-page {
	/* background: linear-gradient(
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.5)
	); */
	/* background-color: #e2e2e2; */
	/* background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */
	/* min-height: 100vh; */
	width: 100%;
	max-width: 1220px;
	padding-top: 100px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.login-page-title {
	font-weight: 700 !important;
	font-size: 19px;
}

.login-page-subtitle {
	color: #5e7c8b;
	font-weight: 500;
}

img.login__graphic-01 {
	position: absolute;
	left: 20% !important;
	top: 60%;
	transform: translate(-50%, -50%);
	width: 20vw;
	z-index: 10;
}

.login-page__container {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.login__graphic-02 {
	position: absolute;
	top: 24%;
	left: 100%;
	transform: translate(-50%, -50%);
	width: 20vw;
}

.hidden {
	display: none;
}

label {
	font-weight: 700 !important;
	color: #5e7c8b !important;
	font-size: 13px !important;
}

.form-control {
	border-radius: 5px;
}

.form-control::placeholder {
	color: #bacad3 !important;
}

.form-control-password {
	position: relative;
}

.form-control-password i {
	position: absolute;
	top: 13px;
	right: 15px;
}

.form-control-password .form-control {
	padding-right: 40px;
}

.form-control-password .password-show  {
	display: block;
}

.form-control-password .password-hide  {
	display: none;
}

.form-control-password .retypepassword-show  {
	display: block;
}

.form-control-password .retypepassword-hide  {
	display: none;
}

.form-control-password.form-control-password--show .password-show {
	display: none;
}

.form-control-password.form-control-password--show .password-hide{
	display: block;
}

.form-control-password.form-control-password--show .retypepassword-show {
	display: none;
}

.form-control-password.form-control-password--show .retypepassword-hide{
	display: block;
}
 
.password-icon , .retypepassword-hide {
	cursor: pointer;
} 

@media only screen and (min-width: 1349px) {
	body {
		font-size: 17px;
		/* font-family: "Fira Sans", sans-serif !important; */
	}

	.login-page {
		padding-top: 70px;
	}

	.feature-item__text .text__body {
		font-size: 1.1rem;
		font-weight: lighter;
	}

	img.login__graphic-01 {
		left: 22% !important;
	}

	img.contact__graphic-01 {
		left: 75% !important;
	}

	.feature-item-02__device {
		display: none;
	}
}

/* ======================================================================
Typography 
====================================================================== */

.primary-text-cp {
	color: var(--main-color);
}

.light-black {
	color: var(--lightblack);
}

.error {
	color: var(--red);
}

/* ======================================================================
Buttons 
====================================================================== */

#btnLogin {
	/* border-radius: 30px; */
	color: #fff;
	font-weight: 300;
}

.login-page .btn {
	font-size: 13px !important;
	width: 100%;
	padding: 10px !important;
	font-weight: 700 !important;
	font-family: "Montserrat", sans-serif;
	border-radius: 7px;
}

.btn-primary-cp {
	background-color: var(--primary-color);
	border: 2px solid transparent;
	color: #fff;
}

.btn-primary-cp-outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.btn-primary-cp-outline:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.btn-primary-cp:hover {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color) !important;
}

.btn-primary-inverse-cp {
	background-color: #fff;
	border: 4px solid var(--primary-color);
	color: #222;
}

.btn-primary-inverse-cp:hover {
	background-color: var(--main-color);
	border: 4px solid var(--main-color);
	color: #fff;
}

.login-page input {
	padding: 10px;
}

.login-page input::placeholder {
	font-family: "Montserrat", sans-serif;
}

#inputCaptcha {
	padding: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
#btnCaptcha {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 12px 30px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
canvas {
	/*prevent interaction with the canvas*/
	pointer-events: none;
	border: 1px solid black;
	padding-left: 30px;
}
#captchaDiv {
	/* border: 1px solid black; */
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

#refreshCaptcha {
	color: #6cbd4a;
	cursor: pointer;
}

.footer-links a {
	color: #5e7c8b;
	font-weight: 500;
	display: inline-block;
	margin-left: 1rem;
}

[data-toggle="popover"]:hover {
	cursor: pointer;
}
.popover-header {
	background-color: var(--primary-color);
	color: #fff;
}

.popover-body ol {
	padding-left: 16px;
}

.popover-body ol li {
	font-size: 10px;
}
