html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #eee!important;
}

* {
	font-family: 'Montserrat', sans-serif;
	/*text-transform: uppercase;*/
}

nav.navbar {
	padding-top: 7px;
	padding-bottom: 7px;
	/*background-color: #fff !important;*/
}

.navbar-brand .nav-logo {
	max-height: 40px;
    max-width: 150px;
    object-fit: contain;
    margin-left: 10px;
}

.fa-3x.text-white{
	color: var(--primary-color) !important;
}

.primary-bg {
	background-color: var(--primary-color);
}

.nav-item .nav-link i {
	color: #fff !important;
}

div, p, label, input {
	font-size: 13px;
}

a {
	color: #222;
}

a:hover {
	color: grey;
}

nav.side-navbar ul li.active a {
	background-color: var(--primary-color) !important;
}

.btn {
	padding: .7rem 1.6rem !important;
	font-size: .7rem !important;
	width: auto;
}

td .btn {
	margin: 0;
	padding-left: 0.7rem !important;
	padding-right: 0.7rem !important;
}

td.text-center:last-child {
	padding: .75rem !important;
}

div.easy-autocomplete.eac-square {
	width: 100% !important;
}

section {
	padding-top: 0;
}

.container-fluid {
	padding: 0;
}

.secondary-bg {
	background-color: var(--primary-color);
}
.cursor_pointer{
	cursor:pointer !important;
}
/*.primary-text {
	color: #59B830;
}

.secondary-text {
	color: #747270;
	}*/

	.primary-border {
		border-color: var(--primary-color);
	}

	button.btn.btn-primary {
		background-color: var(--primary-color) !important;
	}

	.btn-secondary {
		background-color: #72716f !important;
	}

/*.btn-info {
	background-color: #00C851   !important;
	}*/

	.border-deco-left {
		border-left: 50px solid var(--primary-color);
		position: relative;
		overflow: visible !important;
	}

	.border-deco-left > i {
		position: absolute;
		left: -35px;
		top: 50%;
		transform: translateY(-50%);

	}

	.login .logo-container {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 80px;
	}

	main {
		min-height: calc(100vh - 70px);
	}

	footer {
		padding: 10px;
	}

	footer small {
		font-size: 11px;
	}

	footer a {
		color: #fff;
	}

	footer a:hover {
		color: lightgrey;
	}

	.breadcrumb-item {
		font-size: 14px;
	}

	select.custom-select.custom-select-sm.form-control.form-control-sm {
		display: inline-block !important;
	}

	table.dataTable thead .sorting:before, 
	table.dataTable thead .sorting:after, 
	table.dataTable thead .sorting_asc:before, 
	table.dataTable thead .sorting_asc:after, 
	table.dataTable thead .sorting_desc:before, 
	table.dataTable thead .sorting_desc:after, 
	table.dataTable thead .sorting_asc_disabled:before, 
	table.dataTable thead .sorting_asc_disabled:after, 
	table.dataTable thead .sorting_desc_disabled:before, 
	table.dataTable thead .sorting_desc_disabled:after {
		bottom: 1.5em;
	}

	.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
		content: none;
	}

/*.bc-icons-2 .breadcrumb-item.active {
	color: #eeeeee;
	}*/

	.asterisk::after {
		content: " *";
		color: #ef5350;
	}

	.select2-container--default .select2-selection--single {
		border-color: #ced4da;
		height: 39px !important;
	/*background-color: #546e7a;
	border-color: transparent;*/
}

.select2-selection__arrow {
	margin-top: 5px;
}

nav.navbar {
	background-color: #fff;
	z-index: 1000;
	padding-left: 12px;
}

.navbar-brand > strong {
	font-size: 16px;
	color: #fff;
}

.media-body p {
	font-size: 13px;
}

.fixed-top {
	position: fixed !important;
}

.log-out i:hover {
	color: #2196f3;
}

#sideNav {
	transform: translateX(0);
	transition: 0.3s;
}

.sidebar-toggle {
	transform: translateX(0) !important;
}

#overlay {
	width: 100%;
	height: 100%;
	z-index: 500;
	display: none; 
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(0,0,0, 0);
	transform: translate(-50%, -50%);
	transition: 0.5s;
}

#overlay.overlay-toggle {
	display: block !important;
	background-color: rgba(0,0,0, 0.4) !important;
}

.sidebar-fixed {
	height: 100vh;
	width: 270px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 100;
	background-color: #fff;
	padding: 1.5rem;
	padding-top: 60px;
}
.sidebar-fixed .list-group .active {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-border-radius: 5px;
	border-radius: 5px !important; 
	overflow: hidden;
}
.sidebar-fixed .logo-wrapper {
	padding: 2.5rem; 
}
.sidebar-fixed .logo-wrapper img {
	max-height: 50px; 
}

.list-group-item {
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*	border-color: transparent; */
	color: #607d8b;
}

.list-group-item > i {
	color: var(--primary-color);
}

.list-group-item.active > i {
	color: #fff;
}

.list-group-item.active {
	background-color: var(--primary-color) !important;
	border-color: transparent;
}

.card {
	/*overflow: hidden;*/
}

.home-card {
	position: relative;
	overflow: hidden;
	padding-bottom: 80px !important;
	/*border: 7px solid #a7cb35;*/
}

.home-card h6 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 15px;
	padding: 15px !important;
}

.card-hover:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	outline: 0;
}

.page {
	background: transparent;
}

.page .card .card-header-title {
	font-size: 13px;
}

.page .card small {
	font-size: 10px;
}

.card-option {
	border-left: 50px solid var(--primary-color);
	position: relative;
	overflow: visible !important;
}

.option-check {
	transition: 0.3s;
}

.option-check > i {
	color: #fff;
	display: none;
	position: absolute;
	left: -35px;
	top: 50%;
	transform: translateY(-50%);
}

.card-option:hover .option-check > i {
	display: block !important;
}

/* .page-item.active .page-link {
	background-color: var(--primary-color) !important
} */

#myTable th,
#myTable td {
	font-size: 12px;
}

#myTable_filter {
	display: none;	
}

.date-input-prepend {
	width: 40px;
	font-size: 10px;
}

.first-step {
	display: block;
}

.second-step {
	display: none;
}

.success-step {
	display: none;
}

.rounded {
	border-radius: .125rem !important;
}

.sales-customer-info div {
	font-size: 13px;
}

td.select-checkbox:before {
	margin-top: 3px !important;
}

footer.main-footer {
	left: 0;
}

/* fix dropdown up/down */
span {
	display: inline; 
	text-decoration: none;
	transition: none !important;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
	background-color: var(--primary-color);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: var(--primary-color) !important;
}

a:focus {
	text-decoration: none !important;
}

.report-title {
	background-color: var(--primary-color);
}

@media (min-width: 992px) {
	/*	.navbar,
	.page-footer,
	main {
		padding-left: 270px; 
		} */
	}

	@media (max-width: 1199.98px) {
	}

	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {
		#sideNav {
			transform: translate(-100%);
		}
	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 991px) {

		#sideNav.sidebar-fixed {
			transform: translateX(-100%);
		}

		main {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {
		div#pageActive {
			padding: 0;
		}

		footer {
			position: relative;
			bottom: 0;
			width: 100%;
			min-height: 40px;
		}

		.padding-0_mobile{
			padding: 0;
		}

		.margin-5_mobile{
			margin-right: 18px;
		}

		.pl-0_mobile{
			padding-left: 0;
		}

	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {

	}

	/* Custom, iPhone Retina */ 
	@media only screen and (max-width : 320px) {
		.navbar-brand {
			font-size: 10px;
		}

		.breadcrumb-item {
			font-size: 10px ;
		}
		.breadcrumb-item a{
			font-size: 10px;
		}

	}

	@media only screen and (max-width : 360px) {
		.navbar-brand {
			font-size: 12px;
		}

		.breadcrumb-item {
			font-size: 12px ;
		}
		.breadcrumb-item a{
			font-size: 12px;
		}
	}

	@media only screen and (max-width : 400px) {
		main {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	@media only screen and (min-width : 992px) {


	}

	@media only screen and (min-width: 1201px) {
		main {
			padding-left: 270px;
		}

		footer.main-footer {
			padding-left: 290px;
		}

	}

	i .icons {
		float: left; 
		margin-left: -18px; 
		margin-top: 10px;
	}

	i.fa.fa-sign-out.fa-lg {
		color: var(--primary-color) !important;
	}

	i.fa.fa-bars.text-white.fa-lg.mr-2 {
		color: var(--primary-color) !important;
	}

	.brand-text.brand-small.d-block.d-xl-none>strong{
		color: var(--primary-color);
	}

	div#datepicker>input.input-sm.form-control.search-input-select1.searchDateTo {
		margin-right: 5px;
	}

	div#datepicker>input.input-sm.form-control.search-input-select2.searchDateFrom {
		margin-left: 5px;
	}

	div#datepicker>span.input-group-addon {
		margin-top: 4px;
	}

	div#datepicker>input#datefrom {
		margin-right: 5px;
	}

	div#datepicker>input#dateto {
		margin-left: 5px;
	}

	.push-footer {
		min-height: calc(100vh - 160px);
	}

	.link-color{
		color: #33b5e5 !important; 
		text-decoration: underline;
	}

	li.nav-item.imgnavitem {
		padding: 0 1rem;
	}

	nav.navbar.w-100 {
		padding: 0 15px 0;
	}






	/*====================== dts ==============================*/
	.display-inlineblock{
		display: inline-block !important;
	}
	.dropdown-select-custom{
		border: 1px solid #e6e6e6 !important;
		padding: 0px 15px !important;
		line-height: 39px;
		text-align: center;
		width: 100%;
		margin:0px !important;
	}
	.dropdown-select-custom_table{
		background-color: var(--primary-color) !important;
		color: white !important;
		width: 80px !important;
	}
	.align_checkbox_input {
		padding: 8px 15px !important;
	}
	.remove_dash_border{
		border:none !important;
	}
	.custom_right_pull{
		right: 0px;
		position: absolute;
	}
	@media screen and (max-width: 1024px) {
		.custom_right_pull{
			display: block;
			text-align: center;
			width: 100%;
			position: static;
			margin-bottom: 8px;
		}
	}
	.bigh1 {
		font-size: 3rem;
	}
	.bigh2 {
		font-size: 2rem !important;
	}
	.bigh2_2{
		font-size: 2.2rem !important;
	}
	.heavier{
		font-weight: bold !important;
	}
	.bolder{
		font-weight: bolder !important;
	}
	.nav-item .text-grey i {
		color: #72716f !important;
	}
	.width-25 {
		width: 25% !important;
		display: inline-block !important;
	}
	.width-33etc {
		width: 33.333% !important;
		display: inline-block !important;
	}
	.width-35 {
		width: 35% !important;
		display: inline-block !important;
	}
	.width-65 {
		width: 65% !important;
		display: inline-block !important;
	}
	.width-50 {
		width: 50% !important;
		display: inline-block !important;
	}
	.width-75 {
		width: 75% !important;
		display: inline-block !important;
	}
	.space-5 {
		margin: 5px 0;
	}
	.space-10 {
		margin: 10px 0;
	}
	.space-15 {
		margin: 15px 0;
	}
	.space-20 {
		margin: 20px 0;
	}
	.space-25 {
		margin: 25px 0;
	}
	.space-30 {
		margin: 30px 0;
	}
	.sideway-10{
		margin:0px 10px;
	}
	.btn-tablet-grey{
		background: rgba(96, 125, 139, 0.1);
		border-radius: 18px;
		cursor: pointer;
		position: relative;
		padding: 5px 10px;
	}
	.btn-tablet-grey:hover, .btn-tablet-grey_active{
		background: rgba(0, 0, 0, 0.1);
	}
	.btn-auto{
		width:auto !important;
	}
	.range_filter .btn{
		padding: 15px !important;
	}
	.range_filter .filter_active {
		background: #263238 !important;
	}
	.flow_reverse{
		flex-flow: row-reverse;
	}
	.container_rules *{
		font-size: 10px;
	}
	.hidden{
		display: none !important;
	}
	.table_lastcol td:last-child{
		white-space: pre-line;
	}
	.table_lastcol td:last-child .btn{
		margin: 1.2px;
	}
	.tab-label-black .nav-item .nav-link,
	.tab-label-black .nav-item.show .nav-link,
	.tab-label-black .nav-link.active,
	.tab-label-black .nav-item .nav-link i{
		color: #212121!important
	}
	.margin-align-select{
		margin: 9px 4px;
	}
	.select2_width + span.select2.select2-container.select2-container--default{
		width: 100% !important;
	}
	.select2-selection__choice + .select2-search--inline > input{
		width: auto !important;
	}
	.select2-selection__choice + .select2-search--inline{
		width: auto !important;
	}
	.select2-container--default .select2-search--dropdown .select2-search__field{ /* set the search field full if ordinary select */
		width: 100% !important;
	}
	.select2-search__field[placeholder]{
		width:100% !important;
	}
	.btn-remove-file{
		position: absolute;
		top: 2px;
		right: 2px;
		z-index: 123;
		cursor: pointer;
		padding: .5rem .8rem !important;
	}
	.btn_table_equal{
		width: 80px !important;
	}
	.no_resize{
		resize: none;
	}
	.clear-both{
		clear:both;
	}

	/*back to top button*/
	#easy-top {
		background: rgba(0, 0, 0, 0.64);
		text-align: center;
		position: fixed;
		bottom: 45px;
		right: 15px;
		cursor: pointer;
		width: 50px;
		height: auto;
		line-height: 38px;
		border-radius: 4px;
		padding: 6px;
		display: none;
		-webkit-transform: translateZ(0);
		transition: all .3s ease-out;
		z-index:1;
	}
	#easy-top:hover {
		background: rgba(0, 0, 0, 0.9);
	}
	#easy-top:before,
	#easy-top:after {
		-webkit-backface-visibility: hidden;
	}
	#easy-top:hover:after {
		border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
	}
	#easy-top i{
		color:#fff;
	}


	/* dropdown messages */
	.dropdown-messages{
		width: 400px !important;
		min-width: 0 !important;
		padding: 15px 15px 10px 10px !important;
	}
	@media (min-width: 768px) {
		.navbar-right .dropdown-menu {
			right: 0;
			left: auto;
		}
	}
	.dropdown-menu li .dropdown-messages-box {
		min-height: 50px !important;
	}
	.dropdown-menu li .dropdown-messages-box .dropdown-avatar {
		padding: 3px 10px;
		min-height: 0;
		width: 15% !important;
		display: inline-block !important;
		text-align: center;
	}
	.dropdown-messages-box img.img-circle {
		width: 35px;
		height: 35px;
	}
	.dropdown-menu .divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}
	.dropdown-menu li .dropdown-messages-box .media-body {
		vertical-align: top;
		width: 84% !important;
		display: inline-block !important;
	}
	.dropdown-menu li .dropdown-messages-box .media-body .pull-right{
		margin-left: 10px;
	}
	/*chat view*/
	.message-input {
		height: calc(100vh - 80vh);
		min-height: 90px;
		resize: none;
	}
	.textarea-container-add-ons{
		padding: 3px 0px;
	}
	.textarea-add-ons{
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.textarea-container-add-ons .textarea-add-ons > div{
		display: inline-block;
		margin:0px 4px;
	}
	.chat-avatar {
		width: 36px;
		height: 36px;
		float: left;
		margin-right: 10px;
	}
	.chat-user-name {
		padding: 10px;
	}
	.chat-user {
		padding: 8px 10px;
		border-bottom: 1px solid #e7eaec;
	}
	.chat-user a {
		color: inherit;
	}
	.chat-view {
		z-index: 20012;
	}
	.chat-users,
	.chat-statistic {
		margin-left: -30px;
	}
	@media (max-width: 992px) {
		.chat-users,
		.chat-statistic {
			margin-left: 0;
		}
	}
	.chat-view .ibox-content {
		padding: 0;
	}
	.chat-message {
		/* padding: 10px 20px; */
		clear: both;
	}
	.message-avatar {
		height: 48px;
		width: 48px;
		border: 1px solid #e7eaec;
		border-radius: 4px;
		margin-top: 1px;
	}

	.chat-discussion .chat-message.left .message-avatar {
		float: left;
		margin-right: 10px;
	}
	.chat-discussion .chat-message.right .message-avatar {
		float: right;
		margin-left: 10px;
	}
	.message {
		background-color: #fff;
		border: 1px solid #e7eaec;
		text-align: left;
		display: block;
		padding: 10px 20px;
		position: relative;
		border-radius: 4px;
		margin:8px 20px;
	}
	.chat-discussion .chat-message.left .message-date {
		float: right;
	}
	.chat-discussion .chat-message.right .message-date {
		float: left;
	}
	.chat-discussion .chat-message.left .message {
		text-align: left;
		margin-right: 10%;
		float: left;
	}
	.chat-discussion .chat-message.right .message {
		text-align: right;
		margin-left: 10%;
		float: right;
	}
	.chat-discussion .chat-message.left .message-date {
		margin-left: 80px;
	}
	.chat-discussion .chat-message.right .message-date {
		margin-right: 80px;
	}
	.message-date {
		font-size: 10px;
		color: #888888;
	}
	.message-content {
		display: block;
	}
	.chat-discussion {
		background: #eee;
		padding: 15px;
		/* max-height: 400px; */
		overflow-y: auto;
		height:auto;
		max-height: calc(100vh - 50vh);
	}
	.chat-users {
		overflow-y: auto;
		height: 400px;
	}
	.chat-message-form .form-group {
		margin-bottom: 0;
	}

	/* Activity stream */
	.stream {
		position: relative;
		padding: 10px 0;
	}
	.stream:first-child .stream-badge:before {
		top: 10px;
	}
	.stream:last-child .stream-badge:before {
		height: 30px;
	}
	.stream .stream-badge {
		width: 50px;
	}
	.stream .stream-badge i {
		border: 1px solid #e7eaec;
		border-radius: 50%;
		padding: 6px;
		color: #808486;
		position: absolute;
		background-color: #ffffff;
		left: 8px;
	}
	.stream .stream-badge i.fa-circle {
		color: #ced0d1;
	}
	.stream .stream-badge i.bg-success {
		color: #ffffff;
		background-color: #1c84c6;
		border-color: #1c84c6;
	}
	.stream .stream-badge i.bg-primary {
		color: #ffffff;
		background-color: #1ab394;
		border-color: #1ab394;
	}
	.stream .stream-badge i.bg-warning {
		color: #ffffff;
		background-color: #f8ac59;
		border-color: #f8ac59;
	}
	.stream .stream-badge i.bg-info {
		color: #ffffff;
		background-color: #23c6c8;
		border-color: #23c6c8;
	}
	.stream .stream-badge i.bg-danger {
		color: #ffffff;
		background-color: #ed5565;
		border-color: #ed5565;
	}
	.stream .stream-badge:before {
		content: '';
		width: 1px;
		background-color: #e7eaec;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 20px;
	}
	.stream .stream-info {
		font-size: 12px;
		margin-bottom: 5px;
	}
	.stream .stream-info img {
		border-radius: 50%;
		width: 18px;
		height: 18px;
		margin-right: 2px;
		margin-top: -4px;
	}
	.stream .stream-info .date {
		color: #9a9d9f;
		font-size: 80%;
	}
	.stream .stream-panel {
		margin-left: 55px;
	}
	.stream-small {
		margin: 10px 0;
	}
	.stream-small .label {
		padding: 2px 6px;
		margin-right: 2px;
	}

	/* preview file uploads */
	.uploaded-image {
		margin: 0 10px;
		text-align: center;
		background: white;
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	.uploaded-image p{
		word-break: break-all;
	}
	.uploaded-image canvas:hover,
	.uploaded-image video:hover,
	.uploaded-image>p>img:hover{
		-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
		-webkit-transition: all .55s ease-in-out;
		-o-transition: all .55s ease-in-out;
		transition: all .55s ease-in-out;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		z-index: 1;
		overflow: hidden;
	}
	.uploaded-image p,
	.uploaded-image canvas,
	.uploaded-image>p>img{
		width: 150px;
	}
	.uploaded-image>p>img{
		max-height: 150px;
		max-width: 100%;
	}
	.uploaded-image canvas,
	.uploaded-image>p>img{
		height: 150px;
	}
	.uploaded-image p.video,
	.uploaded-image video{
		width: 320px;
	}
	.uploaded-image video{
		height: 150px;
	}
	.uploaded-image canvas,
	.uploaded-image video,
	.uploaded-image>p>img{
		margin-bottom: 8px;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		display: block;
		border: 1px;
		border-style: groove;
		background: white;
	}

	/* =============================================*/


	/* 04-01-2020 -jc */
	@media only screen and (max-width: 484px) {
		.btn-mobile-w-100 { width: 100%; }
		.position-absolute.right-0 { position: relative !important; padding: 0; }
		.position-absolute.right-0 button { margin-right: 0; margin-left: 0; }
	}

	@media only screen and (max-width: 500px) {
		#qrcode { width: 100%; padding: 10px 60px; }
		#qrcode img { width: 100%; }

		/* entity > suppliers */
		.entity-buttons button { width: 100%; }

		.width-100-500s { width: 100%; }
	}

	@media only screen and (max-width: 600px) {
		.discount_row.row { margin-bottom: 10px; }

		/* fix overlapping actions buttons in table (last column) */
		.wrap-btn-last-td tbody tr td:last-child { white-space: normal !important; }
		.wrap-btn-last-td tbody tr td:last-child button, .wrap-btn-last-td tbody tr td:last-child a { margin: 5px; }

		/* fix alignment of text */
		.info-label label { width: 50%; padding-right: 0; }
		.info-label span { width: 50%; padding-left: 0; }
	}

	@media only screen and (max-width: 900px) {
		.move-bottom-2 { position: absolute; bottom: 2%; max-width: 100%; }

		/* fix overlapping actions buttons in table (last column) */
		.wrap-btn-last-td-900 tbody tr td:last-child { white-space: normal !important; }
		.wrap-btn-last-td-900 tbody tr td:last-child button, .wrap-btn-last-td-900 tbody tr td:last-child a { margin: 5px; }
	}

	@media only screen and (min-width: 900px) {
		/* entity > suppliers */
		.entity-buttons { position: absolute; right: 15px; top: 15px; padding: 0; }
	}

	.label-bold-underline { font-weight: 600; border-bottom: 1px solid #000; }
	.label-light-small { color: #777; font-size: 0.9em; }
	td.dt-center { text-align: center; }
	.datepicker { z-index:99999 !important; }
	.right-0 { right: 0; }



/*//061720*/

p.border-search_hideshow {
    padding: 5px;
    border-radius:3px;
}
p.border-search_hideshow a{
    float:right;
    color: var(--primary-color) !important;
}

a#search_clear_btn{
    margin-right: 20px;
}

a#search_hideshow_btn {
 
    /*width:105px;*/
    /*border:1px solid red;*/
}

i#dropdown_menu_button {
    padding: 5px 10px;
    cursor:pointer;
}

#product_preview{
	width: 220px;
	height:170px;
	max-width: 100%;
}

.div_avatar{
    text-align:center;
}

div#avatar-placeholder {
    margin-left: auto;
    margin-right: auto;
}

.text-bold_j{
	font-weight: bold;
}

.text-bold_js{
	font-weight: bold;
}

nav.navbar .dropdown-menu {
	/* background-color: #fff !important; */
	padding: 20px !important;
}

nav.navbar .dropdown-menu a {
	background: transparent !important;
}

nav.navbar .dropdown-menu a small {
	font-weight: 400 !important;
}

nav.navbar .dropdown-menu.dropdown-messages {
	width: 95vw !important;
	max-width: 400px !important;
}

@media only screen and (max-width: 767px) {
	main {
		padding-top: 110px !important;
	}
	
	nav.navbar {
		height: 90px !important;
		padding-top: 30px !important;
	}
	
	nav.navbar .dropdown-menu {
		right: auto !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
		position: fixed;
		top: 60px;
	}

	nav.side-navbar {
		padding-top: 110px !important;
	}
};

@media only screen and (max-width: 374px) {
	div, p, label, input, span {
		font-size: 10px;
	}
}

.header-time {
	padding: 5px 20px;
	background-color: var(--primary-color);
	color: #fff;
	width: 100%;
	position: absolute;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.header-time * {
	color: #fff;
	font-weight: 700;
}


/* for tags input plugin */
.label-info{
	background-color: #5bc0de;
	display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
